* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.navigator {
    width: 200px;
    height: 91vh;
    flex-direction: column;
    justify-content: space-between;
}

.central-page {
    width: 100%;
    height: 91vh;

    flex-direction: column;

    overflow-y: auto;
}

.central-page::-webkit-scrollbar {
    width: 5px;
    background: rgb(0, 0, 0);
  }

/* Utilities */
.flex {
    display: flex;
}

/* Interactive */
main .row-standard .play-icon:hover>img {
    filter: opacity(0.2);
}

header h3:hover {
    transform: scale(1.2);
}

.navigator-main li:hover,
nav p span:hover,
.high-nav p img:hover,
.footer-sx p:hover,
.footer-sx div:nth-child(3)>span:hover,
.footer-dx span:hover {
    color: white;
}

.footer-center ul li:nth-child(3):hover {
    transform: scale(1.3);
}

.footer-center .progress:hover .progress-play,
.footer-dx .volume:hover .volume-stats {
    border: 2px solid #a3f02e;
}

main .row-standard .play-icon:hover>span,
.footer-center .progress:hover .pointer,
.footer-dx .volume:hover .pointer {
    display: inline-block;
}

/* playlist */
nav {
    background-color: #000000;
    color: #a3a3a3;
}

nav p span{
    font-size: 11px;
    font-weight: bold;

    transition: all 0.2s;
}

.high-nav {
padding-top: 20px;
}

.high-nav img {
    width: 132px;
    color: white;

    margin-bottom: 12px;
}

.high-nav p,
.high-nav h5,
.high-nav img {
    padding-left: 15px;
}

#playlist {
    width: 100%;
}

.high-nav p {
    align-items: center;
    margin: 7px 0;
}

.high-nav h5 {
    font-weight: bold;
    margin-top: 20px;
}

.high-nav p img {
    width: 22px;
    margin: 2px 5px 0 0;
    padding: 0;

    transition: all 0.2s;
}

.high-nav #playlist {
    width: 15%;
    filter: invert(1);
} 

.high-nav img+p {
    color: rgb(190, 190, 190);
    border-left: 2px solid #a6f42d;
}

.low-nav p:first-child {
    margin: 0 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px solid #a3a3a3;

}

.low-nav p:last-child {
    flex-direction: row;
    align-items: center;

    margin: 5px 0 8px 0;
    padding-top: 5px;

    color: white;
    padding-left: 7px;
}

.low-nav p:last-child>span {
    font-size: 12px;
    font-weight: bold;
}

.low-nav i {
    font-size: 8px;
}

.low-nav span {
    margin-right: 10px;
}

.low-nav p img {
    background-color: #a3a3a3;
    border-radius: 50%;
    width: 22px;
    margin: 2px 10px 0 10px;
}
/* / playlist */

/* central page */
/* HEADER */
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    
    min-width: calc(100% - 180px);


    position: fixed;
    z-index: 3;
}

header h3 {
    font-size: 10px;

    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 35px;
    margin: 20px 30px 20px 0;

    float: right;

    transition: all 0.1s;
}

/* MAIN */
main {
    background-color: #141922;
    color: white;
    
    flex-direction: column;

    padding: 80px 20px 0 20px;
}

.navigator-main {
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.navigator-main li{
    list-style-type: none;
    margin: 0 10px;

    color: #72757a;
    font-size: 12px;
    font-weight: bolder;
}

.navigator-main li:first-child {
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}


.navigator-main li:first-child>.line-green {
    border-top: 2px solid #a3f02e;
    width: 25px;
    margin-top: 3px;
}

main h3 {
    color: white;
    font-size: 20px;
    padding: 30px 0 10px 0;
}

main .row-standard {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2%;
}

main .row-standard>div {
    flex-direction: column;
    align-items: center;
}

main .row-standard img {
    width: 155px;
    padding-bottom: 10px;

    transition: all 0.1s;
}

main .play-icon {
    position: relative;
}

main .row-standard .play-icon>span {
    color: white;
    font-size: 50px;

    position: absolute;
    top: 45%;
    right: 17%;
    transform: translate(-50%, -50%);

    transition: all 0.1s;
    display: none;
}

main .row-standard h5,
main .row-standard h5+p {
    padding: 5px 0 0 0;
}

main .row-standard h5 {
    width: 155px;
    text-align: center;
}

main .row-standard h5+p,
main > p {
    font-size: 11px;
    font-weight: bold;
    color: #72757a;
}

main .second-row {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2%;
}

main h3:nth-child(4) {
    padding: 30px 0 5px 0;
}

main > p {
    padding-bottom: 20px;
}

main .third-row img {
    border-radius: 50%;
}

main .third-row h5 {
    padding-bottom: 20px;
}
/* / central page */

/* footer */
footer {
    background-color: #282828;
    height: 85px;
    width: 100%;

    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

/* FOOTER SX */
.footer-sx {
    flex-direction: row;
    justify-content: space-around;

    width: 20%;
}

.footer-sx img {
    height: 45px;
    margin-left: 20px;
}

.footer-sx h6 {
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.footer-sx p {
    font-size: 8px;
    font-weight: bold;
    color: #72757a;
}

.footer-sx div:nth-child(2) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-left: 10px;
}

.footer-sx div:nth-child(3) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #72757a;
    margin-left: 30px;
}

.footer-sx div:nth-child(3)>span {
    margin: 0 8px;
    font-size: 15px;
}

/* FOOTER CENTER */
.footer-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;

}

.footer-center .width-player {
    width: 100%;
    justify-content: center;
}

.footer-center .player {
    width: 25%;
}

.footer-center ul {
    list-style-type: none;
    color: white;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-center li {
    font-size: 13px;
}

.footer-center li:nth-child(3) {
    font-size: 28px;
}


.footer-center .progress {
    width: 100%;

    justify-content: center;
    align-items: center;
    padding: 5px 0;    
}


.footer-center span {
    font-size: 8px;
    font-weight: bold;
    color: white;
    margin: 0 20px;
}

.footer-center .progress-bar {
    width: 45%;
    background-color: #595959;
}

.footer-center .progress-play {
    width: 25%;
    border: 1px solid #bdbdbd;
    float: left;

    position: relative;
}

.footer-center .pointer {
    position: absolute;
    right: -15px;
    top: 0px;
    transform: translate(-50%, -50%);

    width: 13px;
    height: 13px;
    background: white;
    border-radius: 50%;

    display: none;
}

/* FOOTER-DX */
.footer-dx {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 20%;
}

.footer-dx span {
    color: #bdbdbd;
    font-size: 12px;
    margin: 0 8px;
}

.footer-dx .volume {
    width: 100px;
    background-color: #595959;

    margin-right: 20px;
}

.footer-dx .volume-stats {
    width: 30px;
    border: 1px solid #bdbdbd;

    position: relative;
}

.footer-dx .pointer {
    position: absolute;
    right: -15px;
    top: 0px;
    transform: translate(-50%, -50%);

    width: 13px;
    height: 13px;
    background: #ffffff;
    border-radius: 50%;

    display: none;
}
/* / footer */


